extends ../layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="sobre nosotros")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis obcaecati expedita, repellendus earum nulla molestiae, reiciendis quas deserunt pariatur, neque sequi quam. Laudantium officiis impedit iste mollitia optio a perferendis!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae beatae odit eveniet enim pariatur consectetur cumque saepe neque. Sed aspernatur eligendi esse, asperiores molestiae reprehenderit rem nemo nihil debitis?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae beatae odit eveniet enim pariatur consectetur cumque saepe neque. Sed aspernatur eligendi esse, asperiores molestiae reprehenderit rem nemo nihil debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla doloremque, illum dicta repellendus
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae beatae odit eveniet enim pariatur consectetur cumque saepe neque.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae beatae odit eveniet enim pariatur consectetur cumque saepe neque.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat recusandae beatae odit eveniet enim pariatur consectetur cumque saepe neque.
                           